@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
.login-page {
  @apply flex  w-full h-screen items-center mt-[30px] sm:mt-0 sm:justify-center flex-col;
  .logo {
    @apply rounded-full text-black sm:text-white sm:bg-opacity-50 sm:bg-blue-secondary;
    svg {
      @apply h-[120px]  w-auto p-[15px] m-[10px];
    }
  }

  h1 {
    @apply text-[30px];
  }
  p {
    @apply text-grey-tertiary text-center;
  }
  .login-container {
    @apply mt-[20px] min-h-[230px] min-w-[300px] w-[360px];
    .login-form {
      @apply mt-[20px] flex flex-col items-center p-[15px] bg-transparent sm:bg-grey sm:bg-opacity-50 rounded-[7px] p-2;
      .input-box {
        @apply relative flex mb-[10px] flex-col;
        input {
          @apply bg-transparent min-w-[230px] w-[300px] my-[15px] h-[40px] outline-none border-0 border-b-[2px] border-grey-secondary hover:border-blue focus:border-blue;
          &.invalid-data {
            @apply border-b-red;
            &::placeholder {
              @apply text-red;
            }
          }
        }
        span {
          &.error {
            animation: shake 0.2s ease-in-out 0s 2;
            @apply text-red block text-sm absolute top-[60px] flex justify-start w-full;
          }
        }
      }
    }
    button {
      @apply bg-blue-tertiary min-w-[300px] sm:bg-transparent sm:hover:bg-blue-light sm:w-full text-blue rounded-[4px] hover:bg-opacity-90 h-[40px] mt-[10px];
    }
  }
  a {
    @apply text-blue hover:text-blue-secondary min-w-[300px] w-[360px] text-start sm:text-end pl-[24px] sm:pr-[8px] my-[10px];
  }
}
